# coding: utf-8
import os
from {{ project.name }}.conf.base import *

_ = lambda s: s

INSTALLED_APPS.insert(0, 'djangocms_text_ckeditor')
INSTALLED_APPS.insert(0, 'djangocms_admin_style')

bd = os.path.abspath(
    os.path.join(
        os.path.dirname(__file__),
        os.pardir,
        os.pardir,
        os.pardir,
    )
)

STATIC_ROOT = os.path.join(bd, 'static')

INSTALLED_APPS += (
    'cms',
    'mptt',
    'menus',
    'sekizai',

    'djangocms_style',
    'djangocms_column',
    'reversion',

    'djangocms_file',
    'djangocms_googlemap',
    'djangocms_inherit',
    'djangocms_link',
    'djangocms_picture',
    'djangocms_teaser',
    'djangocms_video',

    'filer',
    'easy_thumbnails',
    'cmsplugin_filer_image',
    'cmsplugin_filer_file',
    'cmsplugin_filer_folder',
    'cmsplugin_filer_link',
    'cmsplugin_filer_teaser',
    'cmsplugin_filer_utils',
    'cmsplugin_filer_video',
)

MIDDLEWARE_CLASSES += (
    'cms.middleware.user.CurrentUserMiddleware',
    'cms.middleware.page.CurrentPageMiddleware',
    'cms.middleware.toolbar.ToolbarMiddleware',
    'cms.middleware.language.LanguageCookieMiddleware',
)

TEMPLATE_CONTEXT_PROCESSORS += (
    'cms.context_processors.media',
    'sekizai.context_processors.sekizai',
)


LANGUAGES = (
    ## Customize this
    ('de', _('German')),
    ('en', _('English')),
)

CMS_LANGUAGES = {
    ## Customize this
    'default': {
        'hide_untranslated': True,
        'redirect_on_fallback': True,
        'public': True,
    },
    1: [
        {
            'redirect_on_fallback': True,
            'code': 'de',
            'hide_untranslated': False,
            'name': _('German'),
            'public': True,
        },
        {
            'redirect_on_fallback': True,
            'code': 'en',
            'hide_untranslated': False,
            'name': _('English'),
            'public': True,
        },
    ],
}

CMS_TEMPLATES = (
    ## Customize this
    ('{{ project.name }}/base_template.html', 'Base Template'),
)

CMS_PERMISSION = True

CMS_PLACEHOLDER_CONF = {}
