Pillow>=2.3.0,<2.4.0
easy-thumbnails>=1.5,<1.6
html5lib==0.999
django-cms>=3.0,<3.1
django-classy-tags>=0.5,<0.6
django-mptt>=0.6.0,<0.7.0
django-reversion>=1.8.0,<1.9.0
django-sekizai>=0.7,<0.8
djangocms-admin-style>=0.2.0,<0.3.0
djangocms-text-ckeditor>=2.1.4,<2.2.0
djangocms-style>=1.3,<1.4
djangocms-column>=1.3,<1.4
djangocms-inherit>=0.0.1,<0.1
djangocms-file>=0.0.1,<0.1
djangocms-googlemap>=0.0.5,<0.1
djangocms-link>=1.3.4,<1.4
djangocms-picture>=0.0.2,<0.1
djangocms-teaser>=0.0.1,<0.1
djangocms-video>=0.0.1,<0.1
https://github.com/stefanfoulis/django-filer/archive/master.zip
https://github.com/stefanfoulis/cmsplugin-filer/archive/develop.zip
