django-haystack>=2.1.0,<2.2.0
requests>=2.2.1,<2.3.0
pyelasticsearch>=0.6.1,<0.7.0
{% if cms.active %}
django-spurl>=0.6,<0.7
-e git+https://github.com/aldryn/aldryn-search.git@master#egg=aldryn-search
django-standard-form>=1.1.1,<1.2
django-appconf>=0.6,<0.7
{% endif %}
