# coding: utf-8
from {{ project.name }}.conf.base import *

idx = len(INSTALLED_APPS)
try:
    idx = INSTALLED_APPS.index('{{ project.name }}')
except ValueError:
    pass
INSTALLED_APPS.insert(idx, 'haystack')

HAYSTACK_CONNECTIONS = {
    'default': {
        'ENGINE': 'haystack.backends.elasticsearch_backend.ElasticsearchSearchEngine',
        'URL': 'http://{{ search.host }}:{{ search.port }}/',
        'INDEX_NAME': '{{ search.index_name }}',
    },
}
