{% raw %}
# these allow you to start typing a command and
# # use the up/down arrow to auto complete from
# # commands in your history
"\e[B": history-search-forward
"\e[A": history-search-backward

# this lets you hit tab to auto-complete a file or
# # directory name ignoring case
set completion-ignore-case On
{% endraw %}
